# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.h3xagon.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gabri\Desktop\projects\h3xagon\.idea\.idea.h3xagon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
